
/* set some basic structure for the sections */
body {
  background: linear-gradient(to right bottom, #000000, #696969);
  width:1600px;
  height:1000px;
  margin:0 auto;
}
#wrap {
  width:1000px;
  height: 40%;
  background: white;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
